body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("w3images/background.jpeg");
  min-height: 75%;
}

.menu {
  display: none;
}
